exporter_old.py
**/i3dConverter.exe
/.idea/.gitignore
/aaa.xml
/.idea/BlendCharmSettings.xml
/.idea/dbnavigator.xml
/.idea/i3dio.iml
/mesh.i3d
/mesh.i3d.shapes
/mesh_export_log.txt
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/untitled.blend
/untitled.blend1
/untitled.blend2
/untitled.i3d
/untitled_export_log.txt
/.idea/vcs.xml
